################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProudNetChat/v15
/Client/Release
/Client/Debug
/Common/Release
/Common/Debug
/Release
/Debug
/Server/Release
/Server/Debug
